:root {
  --color-green: #69ffb4;
  --color-purple: #b469ff;
  --color-orange: #ffb469;
  --color-red: #ff69b4;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: normal;
  background: #282828;
}
#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-green);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

h1 {
  color: hsla(160, 100%, 37%, 1);
  font-size: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.input {
  color: black;
  margin-bottom: 1rem;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.error {
  color: red;
}
